@{
    ViewData["Title"] = "Clientes";
}


@model List<SistemaVenda.Entidades.Cliente>;

<h2>Clientes</h2>
<hr />

<table class="table table-bordered"
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CNPJ/CPF</th>
            <th>Email</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr
                  style="cursor: pointer;"
                  onClick="Editar(@item.Codigo)"
                >
                    <td>@item.Codigo</td>
                    <td>@item.Nome</td>
                    <td>@item.CNPJ_CPF</td>
                    <td>@item.Email</td>
                    <td>@item.Celular</td>


                </tr>
        }
    </tbody>
</table>

<br />
<button type="button" onclick="Cadastrar()" class="btn btn-block btn-primary">
    Cadastrar Cliente
</button>

<script>
    function Editar(Codigo) {
        window.location = window.origin + "\\Cliente\\Cadastro\\" + Codigo;
    }

    function Cadastrar() {
        window.location = window.origin + "\\Cliente\\Cadastro";
    }
</script>